@page
@using AspNetCoreApp.Pages;
@model IndexModel

 <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<h2>Separate page model</h2>
<p>
    @Model.Message
</p>
<form id="form" enctype="multipart/form-data" method="post" action="http://localhost:8432/api/Services/GetImageByteArry">
    <input type="file" accept="image/png,image/jpg,image/jpeg"  />
    <button type="submit">上传文件</button>
</form>


<form method="post" enctype="multipart/form-data"  action="http://localhost:8432/api/Services/FileUpLoad">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input type="file" name="files" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>